<a href="https://colab.research.google.com/github/Thoratshubham/minted/blob/master/marks_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

In [0]:
import pandas as pd

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
import io

In [5]:
marks = files.upload()

Saving result.xlsx to result.xlsx

In [0]:
result = pd.read_excel('result.xlsx')

In [12]:
result

      Marks Result
0        53   Pass
1        12   Fail
2        11   Fail
3        77   Pass
4        29   Fail
5        58   Pass
6         1   Fail
7        43   Pass
8        35   Fail
9        59   Pass
10        5   Fail
11       33   Fail
12       49   Pass
13       94   Pass
14       58   Pass
15       24   Fail
16       79   Pass
17        2   Fail
18       12   Fail
19       82   Pass
20       26   Fail
21       94   Pass
22       73   Pass
23       94   Pass
24       74   Pass
25       66   Pass
26       97   Pass
27       31   Fail
28       25   Fail
29       79   Pass
...     ...    ...
4970     75   Pass
4971     56   Pass
4972     86   Pass
4973      8   Fail
4974      1   Fail
4975     68   Pass
4976      7   Fail
4977     79   Pass
4978     98   Pass
4979     47   Pass
4980     22   Fail
4981     44   Pass
4982     16   Fail
4983     93   Pass
4984     86   Pass
4985     45   Pass
4986     37   Fail
4987     20   Fail
4988     36   Fail
4989     23   Fail
4990     56   Pass
4991     24   Fail
4992     25   Fail
4993     57   Pass
4994      6   Fail
4995     29   Fail
4996     11   Fail
4997     34   Fail
4998     66   Pass
4999     57   Pass

[5000 rows x 2 columns]

In [13]:
result.head()

   Marks Result
0     53   Pass
1     12   Fail
2     11   Fail
3     77   Pass
4     29   Fail

In [14]:
result.tail()

      Marks Result
4995     29   Fail
4996     11   Fail
4997     34   Fail
4998     66   Pass
4999     57   Pass

In [15]:
result.head(200)

     Marks Result
0       53   Pass
1       12   Fail
2       11   Fail
3       77   Pass
4       29   Fail
5       58   Pass
6        1   Fail
7       43   Pass
8       35   Fail
9       59   Pass
10       5   Fail
11      33   Fail
12      49   Pass
13      94   Pass
14      58   Pass
15      24   Fail
16      79   Pass
17       2   Fail
18      12   Fail
19      82   Pass
20      26   Fail
21      94   Pass
22      73   Pass
23      94   Pass
24      74   Pass
25      66   Pass
26      97   Pass
27      31   Fail
28      25   Fail
29      79   Pass
..     ...    ...
170     71   Pass
171     90   Pass
172     49   Pass
173     75   Pass
174     49   Pass
175     17   Fail
176     36   Fail
177     31   Fail
178     42   Pass
179     21   Fail
180      5   Fail
181     56   Pass
182     60   Pass
183     42   Pass
184     80   Pass
185     89   Pass
186     89   Pass
187     75   Pass
188      7   Fail
189     69   Pass
190     38   Pass
191     34   Fail
192     85   Pass
193     33   Fail
194     60   Pass
195     53   Pass
196     39   Pass
197     52   Pass
198     95   Pass
199     59   Pass

[200 rows x 2 columns]

In [17]:
result.columns

Index(['Marks', 'Result'], dtype='object')

In [18]:
result.shape

(5000, 2)

In [21]:
result.isnull().sum()

Marks     0
Result    0
dtype: int64

In [0]:
y = result['Result']

In [24]:
y

0       Pass
1       Fail
2       Fail
3       Pass
4       Fail
5       Pass
6       Fail
7       Pass
8       Fail
9       Pass
10      Fail
11      Fail
12      Pass
13      Pass
14      Pass
15      Fail
16      Pass
17      Fail
18      Fail
19      Pass
20      Fail
21      Pass
22      Pass
23      Pass
24      Pass
25      Pass
26      Pass
27      Fail
28      Fail
29      Pass
        ...
4970    Pass
4971    Pass
4972    Pass
4973    Fail
4974    Fail
4975    Pass
4976    Fail
4977    Pass
4978    Pass
4979    Pass
4980    Fail
4981    Pass
4982    Fail
4983    Pass
4984    Pass
4985    Pass
4986    Fail
4987    Fail
4988    Fail
4989    Fail
4990    Pass
4991    Fail
4992    Fail
4993    Pass
4994    Fail
4995    Fail
4996    Fail
4997    Fail
4998    Pass
4999    Pass
Name: Result, Length: 5000, dtype: object

In [0]:
result.drop(['Result'], axis=1, inplace=True)

In [26]:
print(result)

      Marks
0        53
1        12
2        11
3        77
4        29
5        58
6         1
7        43
8        35
9        59
10        5
11       33
12       49
13       94
14       58
15       24
16       79
17        2
18       12
19       82
20       26
21       94
22       73
23       94
24       74
25       66
26       97
27       31
28       25
29       79
...     ...
4970     75
4971     56
4972     86
4973      8
4974      1
4975     68
4976      7
4977     79
4978     98
4979     47
4980     22
4981     44
4982     16
4983     93
4984     86
4985     45
4986     37
4987     20
4988     36
4989     23
4990     56
4991     24
4992     25
4993     57
4994      6
4995     29
4996     11
4997     34
4998     66
4999     57

[5000 rows x 1 columns]

In [27]:
print(type(result))

<class 'pandas.core.frame.DataFrame'>

In [0]:
x = result.values

In [29]:
x

array([[53],
       [12],
       [11],
       ...,
       [34],
       [66],
       [57]])

In [0]:
lr=LogisticRegression()

In [31]:
lr.fit(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
lr.predict([[10]])

array(['Fail'], dtype=object)

In [35]:
lr.intercept_

array([-14.30688339])

In [36]:
lr.coef_

array([[0.38385746]])

In [37]:
lr.predict_proba([[37]])

array([[0.52601584, 0.47398416]])